*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.general{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgb(218, 202, 251);

}

.dark_mode{
    background-color: rgb(49, 4, 100);
}

.button{
    padding: 0.7rem;
    background-color: rgb(225, 214, 243);
    border: 2.5px solid rgb(17, 17, 17);
    border-radius: 2rem;

}